<%= simple_form_for @location do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :image, :as => :file %>
  <%= f.input :lon %>
  <%= f.input :lat %>
  <%= f.input :tag_list, value: @location.tag_list.to_s %>
  <!-- = f.input :image_cache, :as => :hidden
  -->
  <%= f.button :submit %>
<% end %>

<div id="map"></div>

<%= render "gmaps_set_update" %>