<h1 class="text-center">
    Categories
</h1>

<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="thumbnail all" >
      <%= link_to cl_image_tag("pictures/all.jpg", :width=>245, :height=>153, :crop=>:fill), "all" %> 
      <p class="category_caption text-center"><strong>ALL LOCATIONS</strong></p>  
    </div>
  </div>

<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="thumbnail" >
      <%= link_to cl_image_tag("pictures/mountains.jpg", :width=>245, :height=>153, :crop=>:fill), "locations/category/mountain" %> 
      <p class="category_caption text-center"><strong>MOUNTAINS</strong></p>  
    </div> 
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="thumbnail" >
      <%= link_to  cl_image_tag("pictures/forest.jpg", :width=>245, :height=>153, :crop=>:fill), "locations/category/forest" %> 
      <p class="category_caption text-center"><strong>FOREST</strong></p>    
    </div>
  </div>
  
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="thumbnail" >
      <%= link_to  cl_image_tag("pictures/sports.jpg", :width=>245, :height=>153, :crop=>:fill), "locations/category/sport" %> 
      <p class="category_caption text-center"><strong>SPORTS</strong></p>
    </div>
  </div>
  
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <%= link_to  cl_image_tag("pictures/villages.jpg", :width=>245, :height=>153, :crop=>:fill) , "locations/category/village"%> 
      <p class="category_caption text-center"><strong>VILLAGES</strong></p>          
    </div>
  </div>
  
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <%= link_to  cl_image_tag("pictures/castle.jpg", :width=>245, :height=>153, :crop=>:fill), "locations/category/castle" %>
      <p class="category_caption text-center"><strong>CASTLES</strong></p>          
    </div>
  </div>
  
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <%= link_to  cl_image_tag("pictures/skiing.jpg", :width=>245, :height=>153, :crop=>:fill), "locations/category/skiing" %>
      <p class="category_caption text-center"><strong>SKIING</strong></p>          
    </div>
  </div>
  
  
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="thumbnail" >
      <%= link_to  cl_image_tag("pictures/river.jpg", :width=>245, :height=>153, :crop=>:fill), "locations/category/river" %> 
      <p class="category_caption text-center"><strong>RIVERS</strong></p>          
    </div>
  </div>
  
  <div class="col-md-3 col-sm-6 col-xs-12">    
   <div class="thumbnail" >
      <%= link_to cl_image_tag("pictures/town.jpg", :width=>245, :height=>153, :crop=>:fill), "locations/category/town" %>
      <p class="category_caption text-center"><strong>TOWNS</strong></p> 
	</div>   
  </div>

   <div class="col-md-3 col-sm-6 col-xs-12">    
   <div class="thumbnail" >
      <%= link_to cl_image_tag("pictures/family.jpg", :width=>245, :height=>153, :crop=>:fill), "locations/category/family" %>
      <p class="category_caption text-center"><strong>FOR FAMILIES</strong></p> 
	</div>   
  </div>

   <div class="col-md-3 col-sm-6 col-xs-12">    
   <div class="thumbnail" >
      <%= link_to cl_image_tag("pictures/history.jpg", :width=>245, :height=>153, :crop=>:fill), "locations/category/history" %>
      <p class="category_caption text-center"><strong>HISTORY</strong></p> 
	</div>   
  </div>

   <div class="col-md-3 col-sm-6 col-xs-12">    
   <div class="thumbnail" >
      <%= link_to cl_image_tag("pictures/art.jpg", :width=>245, :height=>153, :crop=>:fill), "locations/category/art" %>
      <p class="category_caption text-center"><strong>ART</strong></p> 
	</div>   
  </div>