<h2>
    Categories
</h2>

<%= link_to "Nature", "locations/category/nature" %>
<br>
<%= link_to "History", "locations/category/history" %>
<br>
<%= link_to "Family", "locations/category/family" %>
<br>
<%= link_to "All Locations", "all" %>
<br>

<%= link_to "Add New Location", new_location_path %>
